@page
@model QuestionnaireModel
@{
    ViewBag.meta_title = "Questionnaire";
    ViewBag.meta_keywords = "";
    ViewBag.meta_desc = "";
    ViewBag.theme = "food";
}
<h1> Favorite Food and Drinks</h1>


<div class="container">

    <form method="post">
        <div class="form-group">
            <label asp-for="@Model._myGreetings.sendername"></label>
            <input asp-for="@Model._myGreetings.sendername" type="text" class="form-control" />
            <span asp-validation-for="@Model._myGreetings.sendername" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model._myGreetings.senderemail"></label>
            <input asp-for="@Model._myGreetings.senderemail" type="email" class="form-control" />
            <span asp-validation-for="@Model._myGreetings.senderemail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model._myGreetings.favmeal"></label>
            <input asp-for="@Model._myGreetings.favmeal" type="email" class="form-control" />
            <span asp-validation-for="@Model._myGreetings.favmeal" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model._myGreetings.favdrink"></label>
            <input asp-for="@Model._myGreetings.favdrink" type="email" class="form-control" />
            <span asp-validation-for="@Model._myGreetings.favdrink" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model._myGreetings.favdessert"></label>
            <input asp-for="@Model._myGreetings.favdessert" type="text" class="form-control" />
            <span asp-validation-for="@Model._myGreetings.favdessert" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model._myGreetings.favalcohol"></label>
            <input asp-for="@Model._myGreetings.favalcohol" type="text" class="form-control" />
            <span asp-validation-for="@Model._myGreetings.favalcohol" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div class="g-recaptcha" data-sitekey="6Ldj00sUAAAAAGowEykPZ6AZvDcLrMiD950J8sj6"></div>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>


    <!--Preferred Forms Format-->

    <form class="form-inline" act>
        <label asp-for="@Model._myGreetings.sendername"></label>
        <input asp-for="@Model._myGreetings.sendername" type="text" class="form-control" />
        <span asp-validation-for="@Model._myGreetings.sendername" class="text-danger"></span>

        <label asp-for="@Model._myGreetings.senderemail"></label>
        <input asp-for="@Model._myGreetings.senderemail" type="email" class="form-control" />
        <span asp-validation-for="@Model._myGreetings.senderemail" class="text-danger"></span>

    </form>

    <br>
    <form>
        <div class="form-group">
            <label for="sel1">Favorite Meal of the Day</label>
            <select class="form-control" id="sel1">
                <option class="invisible"> Select One:</option>
                <option>Breakfast</option>
                <option>Brunch</option>
                <option>Lunch</option>
                <option>Dinner</option>
                <option>Dessert</option>
            </select>
        </div>

        <div class="form-group">
            <label for="sel1">Favorite Type of Drink</label>
            <select class="form-control" id="sel1">
                <option class="invisible"> Select One:</option>
                <option>Water</option>
                <option>Juice</option>
                <option>Soda</option>
                <option>Alcohol</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sel1">Favorite Type of Dessert</label>
            <select class="form-control" id="sel1">
                <option class="invisible"> Select One:</option>
                <option>Pastries</option>
                <option>Ice Cream</option>
                <option>Cookies</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sel1">Favorite Type of Alcohol</label>
            <select class="form-control" id="sel1">
                <option class="invisible"> Select One:</option>
                <option>Shots! Shots! Shots!</option>
                <option>Beer</option>
                <option>Wine</option>
                <option>Mixed Drinks</option>
                <option>On the Rocks</option>
            </select>
        </div>





    </form>




</div>




@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!-- BEGIN: TEXTAREA AUTOSIZE -->
    <script src="~/lib/textarea-autosize/dist/jquery.textarea_autosize.js"></script>
    <script>
        $('textarea').textareaAutoSize();
    </script>
    <!-- END: TEXTAREA AUTOSIZE -->

    <script src="~/lib/textarea-countdown.js"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>
}
